<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<h2>All Users</h2>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Country</th>
        <th>Operations</th>

    </tr>

    <div th:each="user : ${allUsers}">

        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getCountry()}"></td>
            <td>
                <button type="button"
                        th:onclick="'window.location.href=\'' + @{/updateUser(userId=${user.id})} + '\''">Update
                </button>

                <button type="button"
                        th:onclick="'window.location.href=\'' + @{/deleteUser(userId=${user.id})} + '\''">Delete
                </button>
            </td>
        </tr>
    </div>

</table>
<br>

<label>
    <input th:type="button" th:value="Add"
           onclick="window.location.href = 'addNewUser' "/>
</label>


</body>
</html>