<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h2> User Information</h2>
<br>

<form th:action="@{/saveUser}" th:object="${user}" method="post">


    Name: <label>
    <input th:field="*{name}" type="text" id="name" required placeholder="your name"/>
</label>
    <br><br>
    Surname: <label>
    <input th:field="*{surname}" type="text" id="surname" required placeholder="your surname"/>
</label>
    <br><br>
    Country: <label>
    <input th:field="*{country}" type="text" id="country" required placeholder="your country"/>
</label>
    <input type="submit" value="OK">

    <input type="hidden" th:field="*{id}"/>

</form>
</body>
</html>